@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');


.header-nav {
    height: 90px;
    background: #0a121e;
    gap: 30px;
}

.navbar-collapse.show {
    background-color: rgba(10, 18, 30, 0.8);
    padding: 30px;
    border-radius: 40px;
}

.vector {
    width: 120px;
}

.menu {
    padding: 0px;
    gap: 45px;
}

.toggle-img {
    width: 20px;
    height: 15px;
}

.link-name {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

.auth-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 18px;
    gap: 10px;
    background: #FF342B;
    border-radius: 4px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.first-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 150px;
    gap: 90px;
}

.text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 30px;
    max-width: 65%;
}

.h1-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #0A121E;
}

.text-block p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #3C3C3C;
}

.advantage-img {
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.advantage-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #0A121E;
}

.advantage-main-img {
    width: 457px;
    height: 457px;
    background: #C4C4C4;
    box-shadow: 0px 12px 24px rgba(0, 29, 86, 0.2);
    border-radius: 40px;
    overflow: hidden;
    object-fit: cover;
}

.slider-block {
    background: #3C3C3C;
}


.slider-title {
    top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin-top: 90px;
    width: 100%;

}

.slider-title h2 {
    font-family: Montserrat;
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
}


.slider-container-modal {
    max-width: 1300px;
    margin: 0 auto 50px;
}

.slider-for-wrapper-modal {
    height: 80vh;
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: center;
}

.slider-for-wrapper-modal img {
    max-width: 100%;
    object-fit: scale-down;
}

 .slider-for-wrapper {
    max-width: 750px;
    height: 420px;
    width: 90%;
    border-radius: 40px;
    overflow: hidden;
    margin: 45px auto;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.5);

}


.slider-for-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;   
}


.slick-current .slider-nav-wrapper  {
    border: 1px solid #FFFFFF;
    
}

.slider-nav-wrapper {
    width: 165px;
    height: 165px;
    margin: 0 auto;
    border-radius: 40px;
    overflow: hidden;
}

.slider-nav-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.btn-slider {
    padding: 0;
    background: transparent;
    border: none;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
}

.slider-prev {
    left: -80px;
}

.slider-next {
    right: -80px;
}

.btn-slider img {
    width: 56px;
    height: 56px;
    padding: 10px;
}