{% extends 'spaceAgency_app/layout.html' %}
{% load static %}
{% block content_body %}
<nav class="navbar navbar-expand-md header-nav">
    <div class="container">
        <div class="d-flex w-100 justify-content-between">
            <div class="d-flex">
                <button class="navbar-toggler icon-style me-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false">
                    <img class="toggle-img" src="{% static 'spaceAgency_app/images/toggle.png' %}" alt="">
                </button>
                <div class="navbar-brand"><img class="vector" src="{% static 'spaceAgency_app/images/logo.png' %}"
                        alt="logo">
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav m-auto menu">
                    <li class="nav-item">
                        <a href="#" class="link-name">Преимущества</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="link-name">Фотографии</a>
                    </li>
                </ul>
            </div>
            <button class="auth-button">Вход</button>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div class="modal fade" id="sliderModal" tabindex="-1" aria-labelledby="sliderModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: transparent;">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="background-color: #3c3c3c85;">
                    <div class="slider-container-modal">

                        <div class="slider-for-modal">
                            {% for slider_item in sliders %}
                            <div>
                                <div class="slider-for-wrapper-modal">
                                    <img src="{{ slider_item.image.url }}" alt="">
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="first-block">
            <div class="text-block">
                <h1 class="h1-title">Космическое агенство</h1>
                <p>Национальное управление по аэронавтике и исследованию космического пространства - ведомство,
                    относящееся к федеральному правительству США и подчиняющееся непосредственно президенту США.</p>
            </div>

            <div class="advantages-block">
                <div class="advantages">
                    <div class="advantage-row">
                        <div class="advantage">
                            <img src="{% static 'spaceAgency_app/images/rocket.png' %}" alt="Спейс шаттлы">
                            <h3>Спейс шаттлы — пилотируемые корабли</h3>
                        </div>
                        <div class="advantage">
                            <img src="{% static 'spaceAgency_app/images/telescope.png' %}"
                                alt="Лучшее телескопическое оборудование">
                            <h3>Лучшее телескопическое оборудование</h3>
                        </div>
                    </div>
                    <div class="advantage-row">
                        <div class="advantage">
                            <img src="{% static 'spaceAgency_app/images/moon.png' %}" alt="Целимся на Луну и Марс">
                            <h3>Целимся на Луну и Марс</h3>
                        </div>
                        <div class="advantage">
                            <img src="{% static 'spaceAgency_app/images/medal.png' %}"
                                alt="Золотая медаль по научным исследованиям">
                            <h3>Золотая медаль по научным исследованиям</h3>
                        </div>
                    </div>
                </div>
                <div class="photo">
                    <img src="{% static 'spaceAgency_app/images/space1.png' %}" alt="Фото">
                </div>

            </div>
        </div>
        <div class="slider-block p-0">
            <div class="slider-title">
                <h2>Фотографии</h2>
            </div>
            <script type="text/javascript" src="{% static 'spaceAgency_app/js/jquery-3.7.1.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'spaceAgency_app/js/slick/slick.min.js' %}"></script>


            <div class="slider-container">
                <div class="slider-for">
                    {% for slider_item in sliders %}
                    <div class="slider-block">
                        <div class="slider-for-wrapper">
                            <img data-bs-toggle="modal" data-bs-target="#sliderModal" src="{{ slider_item.image.url }}"
                                alt="">
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="slider-nav">
                    {% for slider_item in sliders %}
                    <div class="slider-block">
                        <div class="slider-nav-wrapper">
                            <img src="{{ slider_item.image.url }}" alt="">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $(".slider-for-modal").slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: true,
            fade: true,
            asNavFor: ".slider-for,.slider-for",
            prevArrow: '<button class="btn-slider slider-prev"><img src="{% static "spaceAgency_app/images/prevarrow.png" %}" alt="prevarrow"></img></button>',
            nextArrow: '<button class="btn-slider slider-next"><img src="{% static "spaceAgency_app/images/nextarrow.png" %}" alt="nextarrow"></img></button>',
        });
        $(".slider-for").slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            fade: true,
            asNavFor: ".slider-nav",

        });
        $(".slider-nav").slick({
            slidesToShow: 4,
            slidesToScroll: 1,
            speed: 500,
            asNavFor: ".slider-for",
            dots: false,
            centerMode: true,
            focusOnSelect: true,
            slide: "div",
            arrows: true,
            prevArrow: '<button class="btn-slider slider-prev"><img src="{% static "spaceAgency_app/images/prevarrow.png" %}" alt="prevarrow"></img></button>',
            nextArrow: '<button class="btn-slider slider-next"><img src="{% static "spaceAgency_app/images/nextarrow.png" %}" alt="nextarrow"></img></button>',
            responsive: [
                {
                    breakpoint: 1070,
                    settings: {
                        arrows: false,
                    }
                },
                {
                    breakpoint: 470,
                    settings: {
                        slidesToShow: 3,
                    }
                }
            ]
        });
    });

</script>
{% endblock %}